<div fxLayout="column">
  <app-header [theme]="'light'" [variant]="'client'"></app-header>
  <div fxLayout="column" class="d-flex justify-content-center p-5">
      <div class="login-container border shadow">
        <div class="header text-center bg-info p-3">
          <h2 class="text-white">Welcome</h2>
          <p class="text-white">Please SignIn Here</p>
          <span class="logo">VE</span>
        </div>
        <div class="row mt-5 p-2">
          <div class="col-12 mb-3">
            <button class="btn btn-info btn-block" (click)=signInWithGoogle()>Google</button>
            <hr>
          </div> 
          
          <div class="col-12">
            <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
              <p class="text-danger small">{{error}}</p>
              <div class="form-group mb-3">
                <label for="email">Email or Username</label>
                <input type="text" class="form-control" placeholder="Enter Email" id="email" name="username" #username="ngModel" required ngModel>
                <p class="text-info small" *ngIf="username.invalid && (username.dirty || username.touched)">
                  <span *ngIf="username.errors.required">
                    Username is Required
                  </span>
                  
                </p>
              </div>
              <div class="form-group mb-3">
                <label for="password">Password</label>
                <input type="password" class="form-control" placeholder="Enter Password" id="pwd" name="password" #password="ngModel" required ngModel>
                <p class="text-info small" *ngIf="password.invalid && (password.dirty || password.touched)">
                  <span *ngIf="password.errors.required">
                    Password is Required
                  </span>
                </p>
              </div>
              <div class="form-group mb-3">
                <button class="btn btn-info" [disabled]="!loginForm.valid" type="submit">Signin </button>
              </div>
            </form>

            <p>Don't Have an Account? <a [routerLink]="['/auth/signup']" class="text-info">Signup Here</a></p>

          </div>
        </div>
      </div>
  </div>
  <app-footer></app-footer>
</div>
