<div fxLayout fxLayout.xs="column" class="footer" fxLayoutAlign="space-between center" style="padding: 12px 70px">
  <div fxLayout="column" fxLayoutAlign.xs="start center">
    <p>Copyright &copy; 2020 Venting Hub</p>
    <p>All rights reserved</p>
  </div>
  <div fxLayout="column" fxLayoutGap="16px">
    <p>Follow us on:</p>
    <div fxLayout fxLayoutGap="12px">
      <img src="../../../../assets/icons/facebook.svg" height="24"  class="hover" (click)="openLink('https://facebook.com/VentingHub')">
      <img src="../../../../assets/icons/instagram.svg" height="24" class="hover" (click)="openLink('https://instagram.com/Venting_Hub')">
      <img src="../../../../assets/icons/twitter.svg" height="24" class="hover" (click)="openLink('https://twitter.com/Venting_Hub')">
    </div>
  </div>
</div>
