<div fxLayout="column">
  <app-header [theme]="'light'"></app-header>
  <div fxLayout="column" fxLayoutGap="48px" fxLayoutGap.xs="8px" class="container">
    <div fxLayout fxLayoutAlign="center" style="min-height: 123px;">
      <p class="about-us">About Us</p>
    </div>
    <div fxLayout fxLayout.xs="column" fxLayoutAlign="space-around" fxLayoutAlign.xs="center center" fxLayoutGap="48px" style="min-height: 616px;">
      <div fxFlex fxLayout fxLayoutAlign="center center" style="min-height: 280px;">
        <div class="background-yellow"></div>
        <img src="../../../assets/images/about-us.png" class="about-us-image" style="position: absolute">
      </div>
      <div fxFlex fxLayout="column" fxLayoutAlign="space-around" fxLayoutGap="21px" style="padding: 32px; min-height: 288px;">
        <p class="venting-hub-title">Venting Hub</p>
        <p class="description">We are a digital counseling platform that provides clients with sessions
          to help alter their lives for the better.</p>
      </div>
    </div>
  </div>
  <div style="margin-top: 72px" class="container">
    <img src="assets/images/Journey.png" style="object-fit: contain; object-position: center; width: 100%">
  </div>
   <!-- <div fxLayout="column" fxLayoutGap="21px" fxLayoutAlign="start center" style="margin: 48px">
      <div fxLayout fxLayoutGap="12px" fxLayoutAlign="center">
        <div fxLayout="column" fxLayoutGap="8px" fxFlex="25" fxFlex.xs>
          <p class="heading">Support for the journey</p>
          <p class="journey-description">My goal is to help you re-imagine your life. With extensive experience in Life Coaching and a vast history of client success, my individualized positivity approach will help you attain your goals. </p>
        </div>
        <div class="point-yellow" fxLayout fxLayoutAlign="center center">
          <p class="number">1</p>
        </div>
        <div fxFlex fxFlex.xs="1"></div>
      </div>

      <div fxLayout fxLayoutGap="12px">
        <div fxFlex="50" fxFlex.xs="1"></div>
        <div class="point-yellow" fxLayout fxLayoutAlign="center center">
          <p class="number">2</p>
        </div>
        <div fxLayout="column" fxFlex fxLayoutGap="8px">
          <p class="heading">Professionalism and Experience</p>
          <p class="journey-description">As a professionally trained and
            experienced life coach, I have the
            tools and understanding to help you
            to create the life you imagine and
            get a renewed sense of self.  </p>
        </div>
      </div>

      <div fxLayout fxLayoutGap="12px">
        <div fxLayout="column" fxFlex="25" fxLayoutGap="8px" fxFlex.xs>
          <p class="heading">Taking the Steps</p>
          <p class="journey-description">Committing to a healthier lifestyle is
            just that – a commitment, and it’s a
            big one that will take a lot a dedication.
            My commitment is to provide you with
            accountability, understanding and support.</p>
        </div>
        <div class="point-yellow" fxLayout fxLayoutAlign="center center">
          <p class="number">3</p>
        </div>
        <div fxFlex fxFlex.xs="1"></div>
      </div>

      <div fxLayout fxLayoutGap="12px">
        <div fxFlex="50" fxFlex.xs="1"></div>
        <div class="point-yellow" fxLayout fxLayoutAlign="center center">
          <p class="number">4</p>
        </div>
        <div fxFlex fxLayout="column" fxLayoutGap="8px">
          <p class="heading">Tools you need to flourish at life</p>
          <p class="journey-description">I want to empower you to be your best self in all aspects of life.  I provide friendly and constructive advice to help you reach your
            full potential.</p>
        </div>
      </div>

      <div fxLayout fxLayoutGap="12px">
        <div fxLayout="column" fxFlex="25" fxLayoutGap="8px" fxFlex.xs>
          <p class="heading">Take control and plan for the future</p>
          <p class="journey-description">I will help you realize your goals and provide you with a roadmap to not
            only reach them but accomplish
            much more.</p>
        </div>
        <div class="point-yellow" fxLayout fxLayoutAlign="center center">
          <p class="number">5</p>
        </div>
        <div fxFlex fxFlex.xs="1"></div>
      </div>

      <div fxLayout fxLayoutGap="12px">
        <div fxFlex="50" fxFlex.xs="1"></div>
        <div class="point-yellow" fxLayout fxLayoutAlign="center center">
          <p class="number">6</p>
        </div>
        <div fxLayout="column" fxLayoutGap="8px" fxFlex>
          <p class="heading">Prioritize your time and relationships</p>
          <p class="journey-description">Life can be stressful.  I want to
            give you the advice and tools
            you need to maximize your personal
            and professional relationships, and
            how to give yourself the time you deserve.</p>
        </div>
      </div>
    </div> -->
  <!-- <div fxLayout="column" fxLayoutGap="48px" fxLayoutAlign="center center" style="margin-top: 56px; margin-bottom: 64px">
    <p class="review-title">Reviews</p>
    <div fxLayout="column" fxLayoutGap="18px">
      <div class="background-review">
        <div fxLayout fxLayoutGap="36px" fxLayout.xs="column" fxLayoutAlign="space-around center" style="padding: 32px; height: 100%">
          <div fxLayout fxLayoutAlign="center center">
            <img src="../../../assets/images/profile-outline.png">
            <img src="../../../assets/images/human.jpg" class="review-image">
          </div>
          <div fxFlex fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px">
            <p class="review">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
              veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
              commodo consequat.</p>
            <p class="review-name">-Anderson</p>
          </div>
        </div>
      </div>
      <div class="background-review">
        <div fxLayout fxLayout.xs="column" fxLayoutGap="36px" fxLayoutAlign="space-around center" style="padding: 32px; height: 100%">
          <div fxLayout fxLayoutAlign="center center">
            <img src="../../../assets/images/profile-outline.png">
            <img src="../../../assets/images/human.jpg" class="review-image">
          </div>
          <div fxFlex fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px">
            <p class="review">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
              veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
              commodo consequat.</p>
            <p class="review-name">-Anderson</p>
          </div>
        </div>
      </div>
      <div class="background-review">
        <div fxLayout fxLayout.xs="column" fxLayoutGap="36px" fxLayoutAlign="space-around center" style="padding: 32px; height: 100%">
          <div fxLayout fxLayoutAlign="center center">
            <img src="../../../assets/images/profile-outline.png">
            <img src="../../../assets/images/human.jpg" class="review-image">
          </div>
          <div fxFlex fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px">
            <p class="review">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
              veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
              commodo consequat.</p>
            <p class="review-name">-Anderson</p>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <br><br>
  <app-footer></app-footer>
</div>
