/* You can add global styles to this file, and also import other style files */

html, body {
  min-height: 100vh;
  height: 100%;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

* {
  box-sizing: border-box;
}

.mat-typography {
  font: 400 14px Roboto, "Helvetica Neue", sans-serif;
}

.container {
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
}

.dtp div.dtp-date {
  background: #0EBABC !important;
}

.dtp > .dtp-content > .dtp-date-view > header.dtp-header {
  background: #0b9192 !important;
}

.dtp .p10 > a {
  color:#fff !important
}

.dtp table.dtp-picker-days tr > td > a.selected {
  background-color: #0EBABC !important;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.container-fluid, .container-sm, .container-md, .container-lg, .container-xl {
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container, .container-sm {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container, .container-sm, .container-md {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container, .container-sm, .container-md, .container-lg {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1140px;
  }
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.notification {
  margin-top: 65px !important;
  padding: 0 !important;
}
